{
    "semi": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.test.js",
            "options": {
                "semi": true
            }
        }
    ],
    "curly": "all"
}
